# Homework 1 (5 points).

All tasks below have equal weight (5/16).

In [42]:
import pandas as pd
from collections import defaultdict

#### Data description

The Data folder contains information about students. There are 10 groups of students in total. The files are divided into two categories:
    * Students_info_i - information about students from group I
    * Students_marks_i - grades of students from group I for exams

### One of the important advantages of pandas is its convenient methods for relational interaction with data, similar to the capabilities of SQL for merging and concatenating tables: `merge`, `join`, and `concat`. The availability of these built-in methods allows us to avoid implementing element-wise data processing manually and instead work with whole data tables.

For detailed information on these methods, check out the following resource: [Kaggle - Renaming and Combining Data](https://www.kaggle.com/residentmario/renaming-and-combining#Combining)

#### Task 1. Collect all the information about the students in one df table. The resulting table should contain the information and grades of all students from all groups. Print several rows of the table to demonstrate the result.

In [43]:
import pandas as pd

students_info_0 = pd.read_csv('students_info_0.csv')
students_info_1 = pd.read_csv('students_info_1.csv')
students_info_2 = pd.read_csv('students_info_2.csv')
students_info_3 = pd.read_csv('students_info_3.csv')
students_info_4 = pd.read_csv('students_info_4.csv')
students_info_5 = pd.read_csv('students_info_5.csv')
students_info_6 = pd.read_csv('students_info_6.csv')
students_info_7 = pd.read_csv('students_info_7.csv')
students_info_8 = pd.read_csv('students_info_8.csv')
students_info_9 = pd.read_csv('students_info_9.csv')

students_marks_0 = pd.read_csv('students_marks_0.csv')
students_marks_1 = pd.read_csv('students_marks_1.csv')
students_marks_2 = pd.read_csv('students_marks_2.csv')
students_marks_3 = pd.read_csv('students_marks_3.csv')
students_marks_4 = pd.read_csv('students_marks_4.csv')
students_marks_5 = pd.read_csv('students_marks_5.csv')
students_marks_6 = pd.read_csv('students_marks_6.csv')
students_marks_7 = pd.read_csv('students_marks_7.csv')
students_marks_8 = pd.read_csv('students_marks_8.csv')
students_marks_9 = pd.read_csv('students_marks_9.csv')

In [44]:
students_info_full = pd.concat([students_info_0, students_info_1, students_info_2, students_info_3, students_info_4,
                                students_info_5, students_info_6, students_info_7, students_info_8, students_info_9], axis = 0)

In [45]:
students_all_marks = pd.concat([students_marks_0, students_marks_1, students_marks_2, students_marks_3, students_marks_4,
                                students_marks_5, students_marks_6, students_marks_7, students_marks_8, students_marks_9], axis = 0)

In [46]:
students = pd.merge(students_info_full, students_all_marks)
students.head()

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75

#### Task 2. Delete the index column from the resulting table. Print the first 10 rows of the table.

In [47]:
students.drop(columns = ['index'], inplace = True)
students.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Task 3. Display the dimensions of the resulting table

In [48]:
students.shape

(1000, 9)

#### Task 4. Display the statistical characteristics of the numerical columns of the table (minimum, maximum, average, standard deviation)

In [49]:
students.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Task 5. Check if there are any missing values in the table.

In [50]:
students.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
group                          0
math score                     0
reading score                  0
writing score                  0
dtype: int64

### Task 6. Display the average scores of students in each subject (math, reading, writing)

In [57]:
print(students['math score'].mean())
print(students['reading score'].mean())
print(students['writing score'].mean())

66.089
69.169
68.054

**Task 7. How do grades depend on whether a student has completed an exam preparation course? Display on the screen for each subject individually the average score of students who took the exam preparation course and did not take the course.**

In [58]:
print('Проходившие курс: ', students.groupby('test preparation course')['math score'].mean()[0], ';' 
      ' Не проходившие курс: ', students.groupby('test preparation course')['math score'].mean()[1], sep='')
print('Проходившие курс: ', students.groupby('test preparation course')['reading score'].mean()[0], ';' 
      ' Не проходившие курс: ', students.groupby('test preparation course')['reading score'].mean()[1], sep='')
print('Проходившие курс: ', students.groupby('test preparation course')['writing score'].mean()[0], ';'
      ' Не проходившие курс: ', students.groupby('test preparation course')['writing score'].mean()[1], sep='')

Проходившие курс: 69.69553072625699; Не проходившие курс: 64.0778816199377
Проходившие курс: 73.89385474860335; Не проходившие курс: 66.53426791277259
Проходившие курс: 74.41899441340782; Не проходившие курс: 64.50467289719626

**Task 8. Display all the different values from the lunch column.**

In [59]:
students['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

**Task 9. Rename the column "parental level of education" to "education" and "test preparation course" to "test preparation" using the pandas rename method**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [60]:
new_columns = {'parental level of education':'education', 'test preparation course':'test preparation'}
students.rename(columns = dict(new_columns), inplace = True)

**We will fix the minimum score for passing the exam**

In [15]:
passmark = 50

**Task 10. Answer the questions:**

    - What percentage of students passed the math exam (passmark > 50)?
    
    - What percentage of students who took the exam preparation course passed the math exam?
    
    - What proportion of women who did not take the exam preparation course did not pass the math exam?

In [16]:
print(students[students['math score'] > passmark].shape[0] / students.shape[0])

0.85

In [17]:
students.loc[(students['test preparation'] == 'completed') & 
             (students['math score'] > passmark)].shape[0] / students.loc[(students['test preparation'] == 'completed')].shape[0]

0.9078212290502793

In [18]:
students.loc[(students['gender'] == 'female') & (students['test preparation'] == 'none') & 
             (students['math score'] <= passmark)].shape[0] / students.loc[(students['gender'] == 'female') &
                                                                    (students['test preparation'] == 'none')].shape[0]

0.23353293413173654

** Task 11. Use group by to complete the tasks below. Also output the completion time of each of the tasks.**
* For each ethnic group, output the average score for the reading exam
* For each level of education, output the minimum score for the writing exam

In [55]:
%%time
students.groupby('race/ethnicity')['reading score'].mean()

CPU times: user 1.74 ms, sys: 541 µs, total: 2.28 ms
Wall time: 1.82 ms

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

In [61]:
%%time
students.groupby('education')['writing score'].min()

CPU times: user 1.85 ms, sys: 382 µs, total: 2.23 ms
Wall time: 3.1 ms

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

**Task 12. Complete task 11 using loops. Compare the execution time.**

In [62]:
%%time
summ = defaultdict(lambda: 0)
schet = defaultdict(lambda: 0)
final = defaultdict(lambda: 0)
for i in range(students['reading score'].shape[0]):
    summ[students['race/ethnicity'][i]] += students['reading score'][i]
    schet[students['race/ethnicity'][i]] += 1
for key in sorted(summ.keys()):
    final[key] = summ[key] / schet[key]
print(final.items())

dict_items([('group A', 64.67415730337079), ('group B', 67.35263157894737), ('group C', 69.10344827586206), ('group D', 70.03053435114504), ('group E', 73.02857142857142)])
CPU times: user 58.2 ms, sys: 2.93 ms, total: 61.1 ms
Wall time: 59.2 ms

In [63]:
minn_associates_degree = 1000
minn_bachelors_degree = 1000
minn_high_school = 1000
minn_masters_degree = 1000
minn_some_college = 1000
minn_some_high_school = 1000

In [64]:
%%time
for index, student in students.iterrows():
    if student['education'] == "associate's degree":
        if student['writing score'] <= minn_associates_degree:
            minn_associates_degree = student['writing score']
    elif student['education'] == "bachelor's degree":
        if student['writing score'] <= minn_bachelors_degree:
            minn_bachelors_degree = student['writing score']
    elif student['education'] == "high school":
        if student['writing score'] <= minn_high_school:
            minn_high_school = student['writing score']
    elif student['education'] == "master's degree":
        if student['writing score'] <= minn_masters_degree:
            minn_masters_degree = student['writing score']
    elif student['education'] == "some college":
        if student['writing score'] <= minn_some_college:
            minn_some_college = student['writing score']
    elif student['education'] == "some high school":
        if student['writing score'] <= minn_some_high_school:
            minn_some_high_school = student['writing score']
print("associate's degree:", minn_associates_degree, '\n', "bachelor's degree:", minn_bachelors_degree, '\n',
      "high school:", minn_high_school, '\n', "master's degree:", minn_masters_degree, '\n',
      "some college:", minn_some_college, '\n', "some high school:", minn_some_high_school)

associate's degree: 35
 bachelor's degree: 38
 high school: 15
 master's degree: 46
 some college: 19
 some high school: 10
CPU times: user 125 ms, sys: 3.72 ms, total: 129 ms
Wall time: 127 ms

**Task 13. Display the average scores of students for each subject based on gender and education level. In other words, you should create as many groups as 2 * (number of education levels), and for each of these groups, display the average score for each subject.**

This can be done using pivot tables (`pivot_table`):

For a detailed tutorial, check out the following link: [Kaggle - How to Use Pivot Table in Pandas](https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas)

In [65]:
import numpy as np
pivoted = pd.pivot_table(students, index = ['gender', 'education']) # np.mean по умолчанию

#### Task 14. How many students passed the math exam?

Create a new column in the dataframe `df` named `Math_PassStatus` and fill it with 'F' if the student failed the math exam (exam score < passmark), and 'P' otherwise.

Then, count the number of students who passed and failed the math exam.

Perform the same steps for the reading and writing exams.

In [142]:
students['Math_PassStatus'] = ['F' if students['math score'][i] <= passmark else 'P' for i in range(students.shape[0])]
students['Math_PassStatus'].value_counts()

P    850
F    150
Name: Math_PassStatus, dtype: int64

In [143]:
students['Reading_PassStatus'] = ['F' if students['reading score'][i] <= passmark else 'P' for i in range(students.shape[0])]
students['Reading_PassStatus'].value_counts()

P    903
F     97
Name: Reading_PassStatus, dtype: int64

In [144]:
students['Writing_PassStatus'] = ['F' if students['writing score'][i] <= passmark else 'P' for i in range(students.shape[0])]
students['Writing_PassStatus'].value_counts()

P    876
F    124
Name: Writing_PassStatus, dtype: int64

#### Task 15. How many students have successfully passed all the exams?

Create an OverAll_PassStatus column and write 'F' in it for each student if the student has failed at least one of the three exams, otherwise 'P'.

Count the number of students who have passed all exams.

In [157]:
students['OverAll_PassStatus'] = ['P' if students['Math_PassStatus'][i] == 'P' and students['Reading_PassStatus'][i] == 'P' and students['Writing_PassStatus'][i] == 'P' else 'F' for i in range(students.shape[0])]
students[students['OverAll_PassStatus'] == 'P'].shape[0]

796

### Task 16. Convert Scores to Grades

#### Grading System
#####   More than 90 = A
#####   80-90 = B
#####    70-80 = C
#####    60-70 = D
#####    50-60 = E
#####   Less than 50 = F (Fail)

Create a helper function that assigns a grade to each student based on the average score of the three exams, according to the grading system above.

Then, create a column `Grade` and assign the grade to each student.

Finally, count the number of students who received each grade.

In [40]:
def GetGrade(average_mark):
    if average_mark > 90:
        return 'A'
    elif average_mark >= 80:
        return 'B'
    elif average_mark >= 70:
        return 'C'
    elif average_mark >= 60:
        return 'D'
    elif average_mark >= 50:
        return 'E'
    elif average_mark < 50:
        return 'F'

students['Grade'] = [GetGrade((students['math score'][i] + students['reading score'][i] + students['writing score'][i])/3) for i in range(students.shape[0])]

In [41]:
students['Grade'].value_counts()

C    261
D    256
E    182
B    148
F    103
A     50
Name: Grade, dtype: int64